$blue: #2784C6;
$spacing: 15px;

%button {
    background-color: $blue;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: $spacing;
}
body {
    font-family: 'Noto Sans', sans-serif;
}
h2 {
    text-align: center;
    margin-top: $spacing;
}
.input {
    padding: $spacing;
    button {
        @extend %button;
    }
}
#arrayDisplay {
    width: 70%;
    margin: $spacing*2 auto;
    text-align: center;
    min-height: 250px;
    border: 1px solid #dadfea;
}
.inputsDiv {
    display: flex;
    justify-content: center;
}